.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.main_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  background-color: #fff;
  margin-top: 64px;
  section.inner_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    .content_wrapper {
      max-width: var(--maxPrimaryPageWidth);
      width: 100%;
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 30px;
      padding-bottom: 30px;
      .title {
        width: 100%;
        margin-bottom: 20px;
        h2 {
          color: var(--primary);
          font-size: 1.6em;
          width: 100%;
          margin: 0;
          padding: 0;
        }
      }
      .content {
        width: 100%;
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
      }
    }
  }
}
