.card {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  width: calc(
    (
        100vw - 80px - 260px -
          (var(--discoverColumnPadding) * var(--numberOfDiscoverColumns))
      ) / var(--numberOfDiscoverColumns)
  );
  max-width: calc(
    (
        var(--maxPrimaryPageWidth) - 80px - 260px -
          (var(--discoverColumnPadding) * var(--numberOfDiscoverColumns))
      ) / var(--numberOfDiscoverColumns)
  );
  &__image {
    width: 100%;
    height: calc(
      (
          100vw - 80px - 260px -
            (var(--discoverColumnPadding) * var(--numberOfDiscoverColumns))
        ) / var(--numberOfDiscoverColumns) * 1.5
    );
    max-height: calc(
      (
          var(--maxPrimaryPageWidth) - 80px - 260px -
            (var(--discoverColumnPadding) * var(--numberOfDiscoverColumns))
        ) / var(--numberOfDiscoverColumns) * 1.5
    );
    .wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      left: 0;
      a.image {
        display: inline-block;
        width: 100%;
        height: 100%;
        img {
          display: inline-block;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__content {
    width: 100%;
    padding: 26px 10px 12px 10px;
    position: relative;
    white-space: normal;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    .consensus {
      position: absolute;
      top: -19px;
      left: 10px;
      display: inline-block;
      transition: transform 0.2s;
      transform: scale(1);
      .outer_ring {
        width: 36px;
        height: 36px;
        padding: 2px;
        display: inline-block;
        border-radius: 50%;
        background-color: #081c22;
        .progress {
          position: relative;
          .symbol {
            color: #fff;
            position: absolute;
            top: 15%;
            right: 8%;
          }
        }
      }
    }
    h2 {
      font-size: 1em;
      margin: 0;
      width: 100%;
      word-wrap: normal;
      overflow-wrap: break-word;
      text-align: start;
      a {
        color: #000;
        text-decoration: none;
        &:hover {
          color: #01b4e4;
        }
      }
    }
    p {
      font-size: 1em;
      margin: 0;
      padding: 0;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}
