.content_wrapper {
  max-width: var(--maxPrimaryPageWidth);
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  .title {
    width: 100%;
    margin-bottom: 20px;
    h2 {
      color: var(--primary);
      font-size: 1.6em;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  .content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
  }
}
