.panel_results {
  padding-left: 30px;
  margin-top: -30px;
  .page_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.infinite_btn {
  background-color: #01b4e4;
  margin-top: 30px;
  padding: 0;
  max-width: 100%;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--imageBorderRadius);
  p {
    color: var(--secondary);
    font-size: 1.2rem;
    font-weight: 900;
    text-decoration: none;
    margin-bottom: 0;
  }
  &:hover {
    p {
      color: var(--primary);
    }
    cursor: pointer;
  }
}
