.filter_panel {
  min-width: 260px;
  width: 260px;
  border: 1px solid #e3e3e3;
  border-radius: var(--imageBorderRadius);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  &.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(var(--lightGrey), 1);
    background-color: #fff;
    color: #000;
  }
  div.name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 14px 16px;
    h2 {
      font-size: 1.1em;
    }
  }
  div.filter {
    width: 100%;
    border-top: 1px solid #eee;
    padding: 14px 16px 16px 16px;
    h3 {
      display: inline-flex;
      align-items: center;
      width: 100%;
      font-size: 1em;
      font-weight: 300;
      margin-bottom: 10px;
    }
    &.closed {
      display: none;
    }
  }
}
.btn_search {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  height: 44px;
  background-color: rgba(228, 228, 228, 0.7);

  p {
    a {
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.1em;
      font-weight: 550;
    }
  }
}
