.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary);
  height: 64px;
  width: 100%;
  z-index: 10;
  transition: top 0.2s linear;
  &__visible {
    top: 0;
    transition: top 0.2s ease-out;
  }
  &__hidden {
    top: -80px;
    transition: top 0.2s ease-out;
  }
  &__logo {
    display: block;
    margin-right: 16px;
    width: 154px;
    height: 20px;
  }
  &__content {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &__sub_media {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 40px;
    max-width: var(--maxPrimaryPageWidth);
  }
  &__right,
  &__left {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    overflow: visible;
  }
  &__nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
    overflow: visible;
    margin-bottom: 0;
    .nav__item {
      margin-right: 14px;
      padding: 8px;
      .translate {
        width: 28px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 3px 5px;
        transition: linear 0.1s;
        color: #fff;
        font-weight: 600;
        font-size: 0.9em;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
    .nav__link {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
