* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --background-light: #f1f1f1;

  --primary: #032541;
  --secondary: #fff;
  --black: #000;
  --white: #fff;
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
  --lightGrey: 227, 227, 227;
  --darkerGrey: 200, 200, 200;
  --maxPrimaryPageWidth: 1400px;
  --discoverColumnPadding: 30px;
  --numberOfDiscoverColumns: 5;
  --imageBorderRadius: 8px;
}
a {
  color: var(--secondary);
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body,
input,
button {
  color: var(--black);
  font: 400 16px "Fredoka", sans-serif;
}

body {
  background: var(--background);
}

button:hover {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(#dbdbdb, 1);
  border-radius: 20px;
}
.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  width: 100%;
  float: left;
  max-width: 100%;
  border-radius: 0.25rem;
  select {
    // font-family: "helvetica neue", helvetica;
    font-size: 0.9rem;
    font-weight: 200;
    max-width: 100%;
    padding: 10px 24px 10px 10px;
    border: none;
    outline: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:active,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  &:after {
    content: " ";
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #000;
  }
}
